.content{
   
    display: flex;
    flex-direction: wrap
    
  }
  .divleft{
    max-width: 35rem;
  }
 
  .photo{
    max-height: 20rem;
    max-width: 30rem;
    margin: 30px 50px;
    
  }
  
  .photo > img{
    height: 100%;
    width: 100%;
    object-fit:contain;
    border-radius: 100%   }
  .text{
    color: var(--primary-color);
    width: auto;
    margin-right: 10px;
  }


@media screen and (max-width: 1000px){


.divleft{
  max-width: 50%;
}
.text{
  min-width: 50%;
}

  }
@media screen and (max-width: 860px){


.photo{
  justify-content: center;
  margin: 20px 5px 50px;
  padding-right: 10px;
}


}
